body{
    margin: 0;
    padding: 0;
    background-color: rgb(233, 228, 228);
}

.center-A4{
    margin-top: 10%;
    margin-left: 25%;
    margin-bottom: 10%;
    background-color: white;
    width: 50%;
    height: 1200px;
    color: rgb(90, 88, 88);
}

.detail{
    display: flex;
}

.line-blue{
    width: 100%;
    height: 5%;
    background-color: blue;
}

.left-my {
    flex: 1; 
    margin-left: 5%;
}

.left-my p{
    font-size: 14px;
}

.left-my h3,.right-my h3{
    font-size: 18px;
}

.right-my {
    flex: 1; 
    margin-right: 5%;
    margin-top: 4%;
}

.right-my h4{
    font-size: 16px;
}

.right-my h1{
    font-size: 24px;
}

.right-my p{
    font-size: 14px;
}

.profile{
    margin-top: 5%;
    margin-left: 5%;
    border: none;
    background-size: cover;
    border-radius: 50%;
    height: 15%;
    width: 30%;
}

.connection-my img{
    display: inline-block; 
    vertical-align: middle; 
    margin-right: 10px;
}

.education,.skills,.language{
    margin-top: 15%;
}

.line-center{
    margin-top: 5%;
    margin-right: 10%;
    width: 2px;
    height: 1000px;
    background-color: rgb(42, 41, 41);
}

